<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.web>
    <authorization>

      <allow roles="superAdmin"/>
      <allow roles="oferentes"/>
      <allow roles="oferentes_admin"/>


      <deny users="*"/>
      <deny users="?"/>


    </authorization>
  </system.web>

</configuration>
